<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.elitanaroda.domcikuvzpevnik">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".PDFActivity"/>

        <service
            android:name=".OneSongDownloadIS"
            android:exported="false">
        </service>
        <service
            android:name=".MoreSongsDownloadIS"
            android:exported="false">
        </service>

        <activity
            android:name=".ChordProActivity"
            android:label="@string/title_activity_chord_pro"
            android:theme="@style/MyMaterialTheme">
        </activity>
    </application>

</manifest>